apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
  namespace: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - image: 130575395405.dkr.ecr.us-east-1.amazonaws.com/repo-542378966167-vote:85
        name: vote
        ports:
        - containerPort: 80
          name: vote
